@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body {
    margin: 0 auto;
    background-image: url("img/Earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.mainWrapper {
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}
h1 {
    margin: 0 auto;
    padding-top: 150px;
    border-bottom: 3px solid #ffffff;
    font-weight: 300;
    font-size: 75px;
    text-align: center;
    width: 20%;
}
p {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}
p a {
    color: #ffffff;
    display: block;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
}
p a:hover {
    color: #000000;
    font-weight: 600;
}