@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
h1 {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
h2 {
    margin: 0 auto;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
}
h3 {
    margin: 0 auto;
    margin-bottom: 5px;
    margin-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.flag {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.flag img {
    margin: 0 auto;
    border: 1px solid #000000;
    height: auto;
    max-width: 200px;
}
.content {
    margin: 0 auto;
    margin-bottom: 15px;
    padding-left: 60px;
}
.content li {
    padding-bottom: 5px;
}
.content li a {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
.content li a:hover {
    text-decoration: underline;
}
.category {
    margin: 0 auto;
    width: 100%;
}
.category div {
    margin-bottom: 5px;
    margin-left: 45px;
    margin-right: 20px;
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
}
span {
    padding-right: 5px;
    font-weight: 400;
}